<ng-template #modal>
  <div class="modal-body modal">
    <div></div>
    <div>
      <div class="text-content"><span class="content">{{ content }}</span></div>
      <div *ngIf="option && option.length" class="option mt-4"><span *ngFor="let line of option">{{ line.Title }}： {{ line.Content }}</span></div>
      <div *ngIf="notice" class="text-content mt-4"><span class="notice">{{ notice }}</span></div>
    </div>
    <div class="confirm-button">
      <button class="btn btn-modal" (click)="confirm()">
        {{ 'system.button.confirm' | translate }}
      </button>
      <button class="btn btn-modal" (click)="close()">
        {{ 'system.button.close' | translate }}
      </button>
    </div>
  </div>
</ng-template>
