.card-layout {
  cursor: pointer;
  border-radius: 15px;
  align-items: center;
  padding-top: 8%;
  height: 27vh;
  width: 27vh;
}

.card-layout:hover {
  background-color: #fffbc9;
}

.card-layout > img {
  width: 50%;
  height: 50%;
}

.card-layout > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 40%;
}

.home {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 68px);
}

.home > div {
  padding-top: 3%;
}

.home > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
