<div class="card m-3">
  <div class="card-header">
    <div class="title-edit">
      <span>{{ "card.common.viewTitle" | translate }}</span>
      <div>
        <button class="btn btn-header" (click)="handleClickEdit()" [checkPermission]="permission.WF43">
          <i class="bi bi-pencil-fill icon"></i>
        </button>
        <button (click)="goBack()" class="btn btn-header"><i class="bi bi-x-lg icon"></i></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.memberNo" | translate }}</span>
        </div>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.memberNo }}</span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.expiredDate" | translate }}</span>
        </div>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.expiredAt | dateWithFormat: "YYYY/MM" }}</span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.status" | translate }}</span>
        </div>
      </div>
      <div class="item-content col">
        <span>{{ handleFilterStatus(cardItem?.status) }}</span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.about" | translate }}</span>
        </div>
      </div>
      <div class="item-content col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <span>{{ cardItem?.company?.companyCode }}</span>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.company?.companyName }}</span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.store" | translate }}</span>
        </div>
      </div>
      <div class="item-content col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <span>{{ cardItem?.store?.storeCode }}</span>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.store?.storeName }}</span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{
            "card.registeredDate" | translate
            }}</span>
        </div>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.createdAt | dateFormatPipe }}</span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.registeredBy" | translate }}</span>
        </div>
      </div>
      <div class="item-content col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <span>{{ cardItem?.createder?.userName }}</span>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.createder?.fullName }}</span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.updatedDate" | translate }}</span>
        </div>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.updatedAt | toLocalTime }}
        </span>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
        <div class="col-lg-10 offset-1 item-container">
          <span class="item-title">{{ "card.updatedBy" | translate }}</span>
        </div>
      </div>
      <div class="item-content col-lg-2 col-md-2 col-sm-3 col-xs-3">
        <span>{{ cardItem?.updateder?.userName }}</span>
      </div>
      <div class="item-content col">
        <span>{{ cardItem?.updateder?.fullName }}</span>
      </div>
    </div>
  </div>
</div>
<notice-modal #noticeModal></notice-modal>
